.progressBar > div {
  background-color: #efd11b;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}
.filledProgressBar > div {
  background-color: #38ef7d;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.progressBar {
  background-color: #131a22;
}
