.temp-container {
    background-color: white;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-wrapper{
    background-color: white;
    padding-bottom: 40px;
}

.temp-item {
    margin-right: 60px;
}
