.temp-container {
    color: white;
    font-size: 20px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-wrapper{
    padding-bottom: 40px;
}

.temp-item {
    margin-right: 60px;
}

.temperature-image {
    height: 240px;
    width: 240px;
}

.temp-new-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.temp-value{
    position: absolute;
    text-shadow: 3px 3px #111111;
    color: white;
    font-size: 40px;
}

.diplom-footer{
    color: white;
}
