.HeaderLink {
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-right: 0.5rem;
  margin-left: 30px;
  color: #266150;
}

.Enter {
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: relative;
  margin-left: 30px;
  color: #266150;
}
.headerContainer {
  vertical-align: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
  position: sticky;

  top: 0;
}
.navbarWrapper {
  box-shadow: 0 0 10px #4f4846;
  width: 100%;
  background-color: #fdf8f5;
  max-width: 1536px;
  height: 50px;
  max-height: 100px;
}
.headerRoute {
  width: 100%;
  max-width: 1536px;
  display: flex;
}
.logoHeader {
  height: 30px;
  width: 30px;
}
