.footer {
    height: 100px;
    text-align: center;
    padding: 0;
    width: 100vw;
    max-width: 1536px;
    background:  #eb196e;
    color: #111111;
    box-shadow: 0 0 10px #4F4846;
}
.contentFooter{
    padding: 0;
    display: flex;
    justify-content: center;
    vertical-align: center;
    z-index: 1000;

}